Makefile
Makefile.in
aclocal.m4
config
config.cache
config.status
configure
libtool
idzebra-config-2.0
zebra.pc
autom4te.cache
Doxyfile
dox
ChangeLog
*~
*.trs
win/version.nsi
build-stamp
config.guess
config.sub
build
deb-src
*.log
*.mf
*.LCK
*.lo
*.la
*.a
*.o
log
.deps
.libs
zebrasrv.pid
