# idzebra systemd-style configuration

[Unit]
Description=Index Data Zebra server
Documentation=man:idzebra(1)
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/zebrasrv
ExecStart=/bin/sh -c "exec ${DAEMON} ${OPTIONS} -p /run/zebrasrv.pid -D"
PIDFile=/run/zebrasrv.pid
ReStart=on-abnormal

[Install]
WantedBy=multi-user.target
