files
idzebra-2.0-common
idzebra-2.0-doc
idzebra-2.0-examples
idzebra-2.0-utils
idzebra-2.0
libidzebra-2.0-dev
libidzebra-2.0-mod-alvis
libidzebra-2.0-mod-dom
libidzebra-2.0-mod-grs-marc
libidzebra-2.0-mod-grs-regx
libidzebra-2.0-mod-grs-xml
libidzebra-2.0-mod-text
libidzebra-2.0-modules
libidzebra-2.0
*.debhelper
*.substvars
*.debhelper.log
tmp
