Source: idzebra
Priority: optional
Maintainer: Adam Dickmeiss <adam@indexdata.dk>
Standards-Version: 3.6.0
Build-Depends: debhelper (>= 4.0.0),
 libyaz5-dev (>= 5.0.0),
 libexpat1-dev,
 tcl8.5-dev,
 libbz2-dev,
 libxslt1-dev,
 zlib1g-dev

Package: idzebra-2.0
Section: text
Architecture: any
Depends: idzebra-2.0-common,
 libidzebra-2.0-dev,
 idzebra-2.0-utils (= ${source:Version}),
 libidzebra-2.0-modules,
 idzebra-2.0-doc
Description: virtual package with most components
 This virtual package installs all the necessary packages to start
 working with IDZebra - including utility programs, development libraries,
 documentation and modules.
 .
 IDZebra is a high-performance, general-purpose structured text indexing
 and retrieval engine. It reads structured records in a variety of input
 formats (eg. email, XML, MARC) and allows access to them through exact
 boolean search expressions and relevance-ranked free-text queries.

Package: idzebra-2.0-dbg
Section: debug
Architecture: any
Depends: libidzebra-2.0 (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for the search engine
 This package contains debugging symbols for the search engine.
 .
 IDZebra is a high-performance, general-purpose structured text indexing
 and retrieval engine. It reads structured records in a variety of input
 formats (eg. email, XML, MARC) and allows access to them through exact
 boolean search expressions and relevance-ranked free-text queries.

Package: libidzebra-2.0-modules
Section: libs
Architecture: any
Depends: libidzebra-2.0-mod-alvis,
 libidzebra-2.0-mod-dom,
 libidzebra-2.0-mod-grs-xml,
 libidzebra-2.0-mod-grs-regx,
 libidzebra-2.0-mod-grs-marc,
 libidzebra-2.0-mod-text
Description: record filter modules
 This virtual package contains all base IDZebra filter modules.
 .
 IDZebra is a high-performance, general-purpose structured text indexing
 and retrieval engine. It reads structured records in a variety of input
 formats (eg. email, XML, MARC) and allows access to them through exact
 boolean search expressions and relevance-ranked free-text queries.

Package: idzebra-2.0-common
Section: text
Architecture: all
Description: common files
 This package includes common essential IDZebra configuration files.
 .
 IDZebra is a high-performance, general-purpose structured text indexing
 and retrieval engine. It reads structured records in a variety of input
 formats (eg. email, XML, MARC) and allows access to them through exact
 boolean search expressions and relevance-ranked free-text queries.

Package: idzebra-2.0-examples
Section: text
Architecture: all
Description: example configurations
 This package includes examples for indexing of various
 data formats like OAI-PMH, Marc21, and MarcXML.
 .
 IDZebra is a high-performance, general-purpose structured text indexing
 and retrieval engine. It reads structured records in a variety of input
 formats (eg. email, XML, MARC) and allows access to them through exact
 boolean search expressions and relevance-ranked free-text queries.

Package: idzebra-2.0-utils
Section: text
Architecture: any
Conflicts: idzebra (<= 1.3.36-2)
Depends: ${shlibs:Depends}, libidzebra-2.0 (= ${source:Version})
Recommends: idzebra-2.0-common
Suggests: libidzebra-2.0-modules
Description: utility programs including indexer and server
 This package contains IDZebra utilities such as the zebraidx indexer
 utility and the zebrasrv server.
 .
 IDZebra is a high-performance, general-purpose structured text indexing
 and retrieval engine. It reads structured records in a variety of input
 formats (eg. email, XML, MARC) and allows access to them through exact
 boolean search expressions and relevance-ranked free-text queries.

Package: libidzebra-2.0-dev
Section: libdevel
Architecture: any
Depends: libidzebra-2.0 (= ${source:Version}), libyaz5-dev
Description: development files
 This package contains development files for IDZebra, such as libraries
 and header files.
 .
 IDZebra is a high-performance, general-purpose structured text indexing
 and retrieval engine. It reads structured records in a variety of input
 formats (eg. email, XML, MARC) and allows access to them through exact
 boolean search expressions and relevance-ranked free-text queries.

Package: libidzebra-2.0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: IDZebra libraries
 Libraries
 .
 IDZebra is a high-performance, general-purpose structured text indexing
 and retrieval engine. It reads structured records in a variety of input
 formats (eg. email, XML, MARC) and allows access to them through exact
 boolean search expressions and relevance-ranked free-text queries.

Package: libidzebra-2.0-mod-alvis
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: record filter module for XSLT indexing (obsolete)
 This package includes the alvis filter which uses libxslt1 to
 transform XML records by XSLT into XML indexable records. 
 DEPRECATED, better use the libidzebra-2.0-mod-dom indexing filter.
 .
 IDZebra is a high-performance, general-purpose structured text indexing
 and retrieval engine. It reads structured records in a variety of input
 formats (eg. email, XML, MARC) and allows access to them through exact
 boolean search expressions and relevance-ranked free-text queries.

Package: libidzebra-2.0-mod-dom
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: record filter module for XSLT indexing (replaces alvis)
 This package includes the 'dom' filter which uses libxslt1 to
 transform XML records by XSLT into XML indexable records. It can read and 
 index any binary MARC syntax as well, and is therefore a modern replacement
 for the 'alvis' and the family of 'grs' filters. 
 .
 IDZebra is a high-performance, general-purpose structured text indexing
 and retrieval engine. It reads structured records in a variety of input
 formats (eg. email, XML, MARC) and allows access to them through exact
 boolean search expressions and relevance-ranked free-text queries.

Package: libidzebra-2.0-mod-text
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: record filter module for indexing plain text
 This package includes the a very simple text filter which indexes
 all tokens in simple text.
 .
 IDZebra is a high-performance, general-purpose structured text indexing
 and retrieval engine. It reads structured records in a variety of input
 formats (eg. email, XML, MARC) and allows access to them through exact
 boolean search expressions and relevance-ranked free-text queries.

Package: libidzebra-2.0-mod-grs-marc
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: record filter module for indexing MARC/ISO2709
 This package includes the grs.marc and grs.marcxml filters that allows
 IDZebra to read MARC records based on ISO2709.
 DEPRECATED, better use the libidzebra-2.0-mod-dom indexing filter.
 .
 IDZebra is a high-performance, general-purpose structured text indexing
 and retrieval engine. It reads structured records in a variety of input
 formats (eg. email, XML, MARC) and allows access to them through exact
 boolean search expressions and relevance-ranked free-text queries.

Package: libidzebra-2.0-mod-grs-regx
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: record filter module for indexing using Tcl
 This package includes the grs.regx and grs.tcl filters.
 .
 IDZebra is a high-performance, general-purpose structured text indexing
 and retrieval engine. It reads structured records in a variety of input
 formats (eg. email, XML, MARC) and allows access to them through exact
 boolean search expressions and relevance-ranked free-text queries.

Package: libidzebra-2.0-mod-grs-xml
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: record filter module for indexing XML using Expat (SAX)
 This package includes the grs.xml filter which uses Expat to
 parse records in XML and turn them into IDZebra's internal grs node.
 DEPRECATED, better use the libidzebra-2.0-mod-dom indexing filter.
 .
 IDZebra is a high-performance, general-purpose structured text indexing
 and retrieval engine. It reads structured records in a variety of input
 formats (eg. email, XML, MARC) and allows access to them through exact
 boolean search expressions and relevance-ranked free-text queries.

Package: idzebra-2.0-doc
Section: doc
Architecture: all
Description: documentation
 This package includes documentation for IDZebra in PDF and HTML.
 .
 IDZebra is a high-performance, general-purpose structured text indexing
 and retrieval engine. It reads structured records in a variety of input
 formats (eg. email, XML, MARC) and allows access to them through exact
 boolean search expressions and relevance-ranked free-text queries.

