# idzebra systemd-style configuration

[Unit]
Description=Index Data Zebra server
Documentation=man:zebrasrv(8)
After=network.target

[Service]
Type=exec
EnvironmentFile=/etc/default/zebrasrv
ExecStart=/bin/sh -c "exec ${DAEMON} ${OPTIONS}"
ExecReload=kill -HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target
