#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@ --without python-support

override_dh_auto_configure:
	dh_auto_configure -- \
		--with-yaz=/usr/bin \
		--with-tclconfig=/usr/lib/tcl8.5

override_dh_auto_test:
	true

override_dh_strip:
	dh_strip --dbg-package=idzebra-2.0-dbg

override_dh_makeshlibs:
	dh_makeshlibs -V 'libidzebra-2.0 (>= 2.0.20)' -X mod-

override_dh_installlogrotate:
	dh_installlogrotate --name=zebrasrv

override_dh_installinit:
	dh_installinit --name=zebrasrv

override_dh_installchangelogs:
	dh_installchangelogs NEWS
