# Simple Zebra configuration file
# $Id: zebra.cfg,v 1.4 2004-09-27 10:44:47 adam Exp $
#
# Where the schema files, attribute files, etc are located.
profilePath: .:../../tab

# Files that describe the attribute sets supported.
attset: bib1.att
attset: gils.att
attset: explain.att

recordtype: grs.sgml
isam: c

#recordId: (bib-1,identifier-standard)

modulePath: ../../recctrl/.libs
shadow: shadow:100M
register: register:100M
