# Simple zebra configuration file to demonstate the usage of the perl filters

profilePath: ../blib/lib:../blib/arch:../blib/lib:.:../../tab:../../../yaz/tab

# Files that describe the attribute sets supported.
attset: bib1.att
attset: explain.att

register: register:1000M

# Specify record type
recordType.pm: grs.perl.pod
recordId: $filename (bib1,Title)

# Lock File Area
lockDir: lock

# Temp File area for result sets
setTmpDir: tmp

# Temp File area for index program
keyTmpDir: tmp

# Approx. Memory usage during indexing
memMax: 4

storeKeys: 1
storeData: 1
